@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-down nav {
        transform: translate3d(0, -100%, 0);
        box-shadow: 0px 0px 20px 8px;
    }
}

@keyframes smoothScroll {
    from {transform: translateY(-20px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
